<h1> Log In </h1>


<%= flash[:message] if flash[:message] %>

<div class="login-form">
    <%=form_tag ("/login") do %>
        Username: <%=text_field_tag "username" %><br>
        <br>
        Password: <%=password_field_tag "password" %><br>
        <br>
        <%= submit_tag "Log In", :class => "button" %>
    <% end %>
</div>