<h1> New Baby Product </h1>

<%= form_for(@bp) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
        <br>
    <%= f.label :price %>
    <%= f.number_field :price %><br>
        <br>

    <%= f.label :product_type %>
    <%= f.text_field :product_type %><br>
        <br>
    
    <%= f.label :brand_id%>
    <%= f.text_field :brand_id%><br>
        <br>

    <%= f.label :url %>
    <%= f.text_field :url %><br>
        <br>

    <%= f.submit %>
    

<% end %>