<h1>Baby Product: <%=@bp.name%></h1>
<h2>Price: <%=@bp.price%></h2>
<h2>Type of Product: <%=@bp.product_type%></h2>
<h2>Image: <%=@bp.url%></h2>


<p><%= link_to ' Add a new Review', new_baby_product_review_path(@bp)%></p>

<% if !@bp.reviews.empty? %>
    <p><=% link_to 'See all Reviews', new_baby_product_review_path(@baby_product)%></p>
    <h4>Most Recent Reviews:</h4>
    <%= @bp.reviews.order(updated_at: :desc).limit(3).each do |r|%>
        <li>
            <strong><%= r.user.username%></strong> says "<%= link_to r.description, new_baby_product_review_path(@bp,r)%>" at <%= r.updated_at.strftime("%I:%M %p on %m/%d/%Y")%>
        </li>
    <% end %>
<% end %>