<h1>Baby Product: <%=@bp.name%></h1>
<h2>Price: $<%=@bp.price%></h2>
<h2>Product Type: <%=@bp.product_type%></h2>
<h2>Image: <br>
    <%= link_to image_tag @bp.url%> </h2>

<% if @bp.user == current_user%>
    <p><%= link_to "Edit Baby Product", edit_baby_product_path(@bp)%></p>
<% end %>

<% if @bp.user == current_user%>
    <p><%= link_to "Delete Baby Product", baby_product_path(@bp), method: :delete%></p>
<% end %>

<p><%= link_to 'Add a New Review', new_baby_product_review_path(@bp)%></p>

<% if !@bp.reviews.empty? %>
    <p><%= link_to 'See All Reviews', baby_product_reviews_path(@bp)%></p>

    <h4>Most Recent Reviews:</h4>
    <% @bp.reviews.order(updated_at: :desc).limit(3).each do |r|%>
        <li>
            <strong><%= r.user.username%></strong> says "<%= link_to r.description, baby_product_review_path(@bp,r)%>" at <%= r.updated_at.strftime("%I:%M %p on %m/%d/%Y")%>
        </li>
    <% end %>
<% end %>