<% if @review.baby_product%>
    <h1> New Review for <%= @review.baby_product.name%></h1>
<% else %>
    <h1>All Reviews</h1>
<% end %>

<%=form_for([@review.baby_product, @review]) do |f| %>
    
     
    <%= f.hidden_field :baby_product_id %>

    <%= f.label :rating %>
    <%= f.number_field :rating%><br>
            <br>
    <%= f.label :description %>
    <%= f.text_field :description%>

    <%= f.submit %>
   
<% end %>