<!DOCTYPE html>
<html>
  <head>
    <title>BabyAssurance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if logged_in? %>
        <%= link_to "Add Baby Product", new_baby_product_path %> |
        <%= link_to "All Baby Products", baby_products_path %> |
        <%= link_to "My Baby Products", user_baby_products_path(current_user) %> |
        <%= link_to "All Reviews", reviews_path%> |
        <%= link_to "Home", user_path(current_user)%> |
         <%= link_to "Logout", logout_path, method: "delete" %> 
      <% else%>
        <%= link_to "Sign Up", signup_path %> |
        <%= link_to "Log In", login_path %>
      <% end %>
    </div>

    <div>
    <% if flash[:message] %>
      <%=flash[:message] %>
    <% end %>
      <%= @error%>
    </div>
      <%= yield %>
  </body>
</html>
